.program{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
    
}
.benefit{
    
        text-align: center;
        font-weight: bold;
        padding: 2px;
        margin: 2px;
        
    
}
li{
    text-align: left;
    padding-left: 20px;

}

.card__body img{
    width:200px;
    height: auto;
}

